/deep/ html {
  height: 100%; }
/deep/ body {
  height: 100%;
  overflow-x: hidden; }
/deep/ app {
  display: block;
  height: 100%; }
/deep/ .site-container {
  height: 100%; }
  /deep/ .site-container > * {
    display: block; }
  /deep/ .site-container > router-outlet {
    display: none; }
  /deep/ .site-container .main-content {
    height: calc(100% - 3.14286rem); }
    /deep/ .site-container .main-content .main-content-wrap {
      display: table;
      height: 100%;
      padding: 22px;
      table-layout: fixed;
      width: 100%; }
/deep/ html {
  font-size: 14px;
  line-height: 22px; }
/deep/ body {
  background: #bbc2ce;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.57143;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
/deep/ h1, /deep/ .h1,
/deep/ h2, /deep/ .h2,
/deep/ h3, /deep/ .h3,
/deep/ h4, /deep/ .h4,
/deep/ h5, /deep/ .h5,
/deep/ h6, /deep/ .h6 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  line-height: 1.57143rem;
  letter-spacing: .01em;
  margin-top: 1.57143rem;
  margin-bottom: 1.57143rem; }
/deep/ h1, /deep/ .h1 {
  font-size: 4.2142857rem;
  line-height: 1.13;
  margin-bottom: 3.1428572rem; }
/deep/ h2, /deep/ .h2 {
  font-size: 3.1428571rem;
  line-height: 1; }
/deep/ h3, /deep/ .h3 {
  font-size: 2.3571429rem;
  line-height: 1.34; }
/deep/ h4, /deep/ .h4 {
  font-size: 1.7857143rem;
  line-height: 1.32; }
/deep/ h5, /deep/ .h5 {
  font-size: 1.3571429rem;
  line-height: 1.21; }
/deep/ h6, /deep/ .h6 {
  font-size: 1rem;
  line-height: 1.6; }
/deep/ p,
/deep/ ul,
/deep/ ol,
/deep/ pre,
/deep/ table,
/deep/ blockquote,
/deep/ .blockquote {
  margin-top: 0;
  margin-bottom: 1.57143rem; }
  /deep/ p:last-child,
  /deep/ ul:last-child,
  /deep/ ol:last-child,
  /deep/ pre:last-child,
  /deep/ table:last-child,
  /deep/ blockquote:last-child,
  /deep/ .blockquote:last-child {
    margin-bottom: 0; }
/deep/ ul ul, /deep/ ol ol, /deep/ ul ol, /deep/ ol ul {
  margin-top: 0;
  margin-bottom: 0; }
/deep/ hr, /deep/ .hr {
  border: 1px solid;
  margin: -1px 0; }
/deep/ sub, /deep/ sup {
  vertical-align: baseline; }
/deep/ sup {
  top: -0.5em; }
/deep/ sub {
  bottom: -0.25em; }
/deep/ a {
  color: #5dade0;
  text-decoration: none;
  transition: color 0.2s ease-in-out; }
  /deep/ a:hover, /deep/ a:focus {
    outline: none;
    text-decoration: none; }
/deep/ button:focus {
  outline: none; }
/deep/ .form-group {
  align-items: center; }
/deep/ .form-message {
  margin-top: .6rem;
  position: absolute;
  top: 100%; }
/deep/ ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3); }
/deep/ ::-webkit-scrollbar {
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  width: 4px; }
/deep/ ::-webkit-scrollbar:hover {
  display: block; }
/deep/ ::-webkit-scrollbar-thumb {
  background-color: #2e3d50; }
/deep/ ::-webkit-scrollbar:horizontal {
  height: 4px; }
/deep/ .mt-module {
  margin-top: 1.57143rem !important; }
/deep/ .mr-module {
  margin-right: 1.57143rem !important; }
/deep/ .mb-module {
  margin-bottom: 1.57143rem !important; }
/deep/ .ml-module {
  margin-left: 1.57143rem !important; }
/deep/ .bg-facebook {
  background: #3b5998; }
/deep/ .bg-twitter {
  background: #00ACED; }
/deep/ .bg-google {
  background: #DD4B39; }
/deep/ .info-card {
  position: relative; }
  /deep/ .info-card /deep/ .title {
    line-height: 1;
    margin: 0; }
  /deep/ .info-card /deep/ .count {
    font-size: 32px; }
  /deep/ .info-card /deep/ .mat-icon {
    color: rgba(255, 255, 255, 0.2);
    font-size: 60px;
    height: auto;
    position: absolute;
    right: 1.57143rem;
    top: 1.57143rem;
    width: auto; }
/deep/ .chart-card /deep/ .card-wrap .card-content {
  align-items: flex-end;
  display: flex !important; }
/deep/ .chart-card /deep/ .chart {
  height: 80px;
  margin: 0;
  width: 80px; }
  /deep/ .chart-card /deep/ .chart canvas {
    height: 100%; }
/deep/ .chart-card /deep/ .info {
  padding-left: 1rem; }
  /deep/ .chart-card /deep/ .info .title {
    font-size: 2rem;
    line-height: 1;
    margin: 0 0 .5rem; }
/deep/ .leaflet-top,
/deep/ .leaflet-bottom {
  z-index: 996; }
/deep/ [md-button],
/deep/ [md-fab],
/deep/ [md-icon-button],
/deep/ [md-mini-fab],
/deep/ [md-raised-button] {
  font-family: inherit;
  font-weight: inherit; }
/deep/ .md-button-toggle-label {
  margin-bottom: 0; }
/deep/ [md-card-avatar] {
  overflow: hidden; }
/deep/ md-card-title {
  margin-bottom: .5rem; }
/deep/ md-card-subtitle:last-child {
  margin-bottom: 0; }
/deep/ md-input-container {
  font-family: inherit;
  margin: 0 0 1.57143rem;
  width: 100%; }
  /deep/ md-input-container.md-icon-left {
    padding-left: 36px;
    position: relative; }
    /deep/ md-input-container.md-icon-left .mat-input-infix > md-icon {
      position: absolute;
      top: 0;
      left: -32px;
      right: auto; }
    /deep/ md-input-container.md-icon-left .mat-input-underline {
      left: 36px;
      right: 0;
      width: auto; }
  /deep/ md-input-container .mat-input-wrapper {
    margin: 0;
    padding: 0; }
    /deep/ md-input-container .mat-input-wrapper .mat-input-table {
      padding: 1.25rem 0 .5rem; }
      /deep/ md-input-container .mat-input-wrapper .mat-input-table .mat-input-prefix span {
        padding-right: 11px; }
      /deep/ md-input-container .mat-input-wrapper .mat-input-table .mat-input-infix {
        width: 100%; }
        /deep/ md-input-container .mat-input-wrapper .mat-input-table .mat-input-infix .mat-input-placeholder,
        /deep/ md-input-container .mat-input-wrapper .mat-input-table .mat-input-infix .mat-input-placeholder-wrapper {
          padding-top: 1.25em; }
        /deep/ md-input-container .mat-input-wrapper .mat-input-table .mat-input-infix .mat-input-placeholder-wrapper {
          top: -1.25em; }
          /deep/ md-input-container .mat-input-wrapper .mat-input-table .mat-input-infix .mat-input-placeholder-wrapper .mat-input-placeholder {
            margin-bottom: 0; }
            /deep/ md-input-container .mat-input-wrapper .mat-input-table .mat-input-infix .mat-input-placeholder-wrapper .mat-input-placeholder.mat-float.mat-focused, /deep/ md-input-container .mat-input-wrapper .mat-input-table .mat-input-infix .mat-input-placeholder-wrapper .mat-input-placeholder.mat-float:not(.mat-empty) {
              transform: translateY(-1.6em) scale(0.75); }
      /deep/ md-input-container .mat-input-wrapper .mat-input-table .mat-input-suffix span {
        padding-left: 11px; }
    /deep/ md-input-container .mat-input-wrapper .mat-input-underline {
      margin: 0; }
    /deep/ md-input-container .mat-input-wrapper .mat-hint {
      bottom: 0;
      margin-top: 5px;
      position: relative; }
/deep/ .mat-list .mat-list-item .mat-list-item-content {
  padding: 0 !important; }
  /deep/ .mat-list .mat-list-item .mat-list-item-content .mat-icon.mat-list-avatar {
    font-size: 40px; }
  /deep/ .mat-list .mat-list-item .mat-list-item-content h1, /deep/ .mat-list .mat-list-item .mat-list-item-content h2, /deep/ .mat-list .mat-list-item .mat-list-item-content h3, /deep/ .mat-list .mat-list-item .mat-list-item-content h4, /deep/ .mat-list .mat-list-item .mat-list-item-content h5, /deep/ .mat-list .mat-list-item .mat-list-item-content h6 {
    font-weight: 700;
    line-height: 1.3;
    overflow: hidden; }
/deep/ md-progress-bar,
/deep/ md-progress-circle,
/deep/ md-spinner {
  margin-bottom: 1.57143rem; }
  /deep/ md-progress-bar:last-child,
  /deep/ md-progress-circle:last-child,
  /deep/ md-spinner:last-child {
    margin-bottom: 0; }
/deep/ md-radio-group {
  display: block;
  margin: 0 -11px 1.57143rem; }
  /deep/ md-radio-group:last-child {
    margin-bottom: 0; }
  /deep/ md-radio-group md-radio-button {
    margin: 0 11px; }
    /deep/ md-radio-group md-radio-button .mat-radio-label {
      margin: 0; }
/deep/ .column-layout md-radio-button {
  display: block;
  margin-bottom: 0.78571rem; }
  /deep/ .column-layout md-radio-button:last-child {
    margin-bottom: 0; }
/deep/ .mat-checkbox {
  display: inline-block;
  margin-bottom: 0.78571rem;
  vertical-align: top; }
  /deep/ .mat-checkbox:last-child {
    margin-bottom: 0; }
/deep/ .mat-checkbox-layout {
  margin-bottom: 0; }
/deep/ md-option {
  font-size: inherit !important; }
/deep/ .mat-tab-label {
  font-family: "Open Sans", sans-serif !important; }
  /deep/ .mat-tab-label md-icon {
    vertical-align: middle; }
/deep/ .mat-tab-body-content {
  overflow: auto; }
/deep/ md-icon {
  position: relative; }
/deep/ .md-tooltip {
  font-family: "Open Sans", sans-serif !important; }
/deep/ .ngx-datatable.material .datatable-header {
  background: #3c4e62;
  font-size: 1.2rem; }
  /deep/ .ngx-datatable.material .datatable-header .resize-handle {
    border-right-color: rgba(255, 255, 255, 0.2); }
  /deep/ .ngx-datatable.material .datatable-header .datatable-header-cell {
    color: #fff; }
/deep/ .ngx-datatable.material .datatable-body .datatable-scroll {
  vertical-align: top; }

:host /deep/ {
  @import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,300i,400,400i,700,700i|Open+Sans:300,300i,400,400i,700,700i");
  @import url("https://fonts.googleapis.com/icon?family=Material+Icons"); }

/*# sourceMappingURL=style.css.map */
